{:kotoba.app/id "cloud.itonami.isic-4100", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibncek4xix3f6musrk7jifbf24yzbqpu5ys6gwp5if2sn6lm3hivi", :kotoba.app/embed-url "ipfs://bafkreibncek4xix3f6musrk7jifbf24yzbqpu5ys6gwp5if2sn6lm3hivi", :published {:archive "https://kotobase.net/ipfs/bafkreibncek4xix3f6musrk7jifbf24yzbqpu5ys6gwp5if2sn6lm3hivi", :size 71980, :put-status 201, :get-status 200, :at "2026-08-15T13:33:08.642Z"}}
